global:
  scrape_interval: 15s

scrape_configs:
{% for host, ip_with_port in hosts.items() %}
  - job_name: '{{ host }}'
    static_configs:
    - targets: ['{{ ip_with_port }}']
      labels:
        instance: '{{ host }}'
{% endfor %}
