global:
  scrape_interval: 15s

scrape_configs:

  - job_name: 'balancer1'
    static_configs:
    - targets: ['35.204.130.220:80']
      labels:
        instance: 'balancer1'

  - job_name: 'balancer2'
    static_configs:
    - targets: ['34.34.1.130:80']
      labels:
        instance: 'balancer2'

  - job_name: 'balancer3'
    static_configs:
    - targets: ['34.147.10.29:80']
      labels:
        instance: 'balancer3'

  - job_name: 'frontend1'
    static_configs:
    - targets: ['34.32.201.187:5173']
      labels:
        instance: 'frontend1'

  - job_name: 'frontend2'
    static_configs:
    - targets: ['34.91.33.115:5173']
      labels:
        instance: 'frontend2'

  - job_name: 'item1'
    static_configs:
    - targets: ['34.91.230.177:3000']
      labels:
        instance: 'item1'

  - job_name: 'item2'
    static_configs:
    - targets: ['34.91.29.64:3000']
      labels:
        instance: 'item2'

  - job_name: 'list1'
    static_configs:
    - targets: ['34.91.60.202:3000']
      labels:
        instance: 'list1'

  - job_name: 'list2'
    static_configs:
    - targets: ['34.91.9.134:3000']
      labels:
        instance: 'list2'

  - job_name: 'monitor'
    static_configs:
    - targets: ['35.204.156.90:9090']
      labels:
        instance: 'monitor'

  - job_name: 'database1'
    static_configs:
    - targets: ['34.91.249.79:27017']
      labels:
        instance: 'database1'

  - job_name: 'database2'
    static_configs:
    - targets: ['34.34.35.230:27017']
      labels:
        instance: 'database2'

  - job_name: 'database3'
    static_configs:
    - targets: ['34.90.170.212:27017']
      labels:
        instance: 'database3'
