{% set inst_config = [] %}
{% for host in groups['targets'] %}
{{ inst_config.append( hostvars[host]['ansible_default_ipv4']['address'] + ':9100') }}
{% endfor %}
global:
  scrape_interval: 15s

scrape_configs:
{% for host in groups['targets'] %}
- job_name: {{ hostvars[host]['ansible_hostname'] }}
  static_configs:
  - targets: ['{{ hostvars[host]['ansible_default_ipv4']['address'] }}:9100']
    labels:
      instance: '{{ host }}'
{% endfor %}