# Hidden folders
.DS_Store
.vscode
.idea
.vagrant
.terraform*
Desktop.ini

# Vagrant and terraform stuff
Vagrantfile
inventory
*.tfstate*

# Authentication files
agisit-2324-website-16-*
id_rsa
id_rsa.pub

# Misc
node_modules